section {
  padding: 20px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #2589bd; /* Adjust the color as needed */
  padding-bottom: 5px;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #333; /* Adjust the color as needed */
  margin-bottom: 20px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #187795; /* Adjust the color as needed */
  margin-top: 20px;
}

a {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #2589bd; /* Adjust the color as needed */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
