section {
  padding: 20px;
}
.projects h4 {
  color: #779be7;
}
.projects p {
  color: black;
}
.features-list li {
  color: black;
}
.closeELitespaceDemoVideo {
  color: black;
  background-color: white;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #187795;
  margin-top: 20px;
}

button {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #2589bd;
  color: white;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}

button:hover {
  cursor: pointer;
}
