.profile {
  text-align: center;
}
h2 {
  color: #81c3d7;
  font-size: large;
}
.profile title {
  color: #020609;
  font-size: large;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
}
