.about_me {
}
section {
  padding: 20px;
}

.about-title {
  font-size: 24px;
  color: #2589bd;
  padding-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
.about_me_tags_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.about_me_tags {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 30px;
}
