section {
  padding: 20px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #2589bd; /* Adjust the color as needed */
  padding-bottom: 5px;
}

.experience-item {
  margin-bottom: 20px;
}
.experience-item p {
  color: #22333b;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #187795;
  margin-top: 20px;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
}
