.App {
  display: flex;
  flex-direction: column;
  background-color: #bbd5ed;
}

.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .App {
    flex-direction: row;
  }

  .main-content {
    margin-left: 250px; /* Adjust this if you have a sidebar */
  }
}

/* Add more media queries as needed for different screen sizes */
