html {
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-content {
}

@media (min-width: 768px) {
  .App {
    flex-direction: column;
    height: 10vh;
  }

  /* Scoped media query using ID */
  @media (max-width: 768px) {
    #header-component {
      flex-direction: column;
      align-items: center;
    }

    #header-component .profile-container {
      margin-bottom: 1rem;
    }

    #header-component .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }

    #header-component .social-media-icons {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      gap: 1rem;
    }

    #header-component .profile-logo {
      width: 80px;
    }
  }
}
/* Scoped media query using ID */
@media (max-width: 768px) {
  #header-component {
    flex-direction: column;
    align-items: center;
  }

  #header-component .profile-container {
    margin-bottom: 1rem;
  }

  #header-component .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  #header-component .social-media-icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  #header-component .profile-logo {
    width: 80px;
  }
}
