.contact-page {
  height: 100vh;
}
.contacts-container {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.contact-icon {
  font-size: 40px;
  transition: color 0.3s;
}

.contact-icon:hover {
  color: #2589bd;
}

section {
  padding: 20px;
}

h2 {
  font-family: fantasy;
  font-size: 24px;
  color: white;
  padding-bottom: 5px;
  text-align: center;
}
.send-button {
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.send-button:hover {
  background-color: #83a5c1;
}
